<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<!-- 1.配置数据库信息   -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///notebook?useUnicode=true &amp;characterEncoding=UTF-8 &amp;useJDBCCompliantTimezoneShift=true &amp;useLegacyDatetimeCode=false &amp;serverTimezone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
	<!-- 2.配置hibernate信息[可选]   -->
		<!-- 输出底层sql语句  -->
		<property name="hibernate.show_sql">true</property>	
		<!-- 输出底层sql语句格式  -->
		<property name="hibernate.format_sql">true</property>	
		<!-- hibernate帮创建表，需要配置之后
	update: 如果已经有表，更新，如果没有表，创建 -->
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- 配置数据库方言	
		在mysql里面实现分页 关键字limit，只能使用在mysql里面
		在oracle数据库，实现分页rownum
		让hibernate框架识别不同数据库的自己特有的语句
		
		org.hibernate.dialect.MySQL5InnoDBDialect
		org.hibernate.dialect.MySQL5Dialect
	 -->
	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	<!-- 3.把映射文件放到核心配置文件中 必须的 -->
		<mapping resource="cn/thylove/bean/Users.hbm.xml"/>
		<mapping resource="cn/thylove/bean/Product.hbm.xml"/>
		<mapping resource="cn/thylove/bean/SalesRecord.hbm.xml"/>
		<mapping resource="cn/thylove/bean/Store.hbm.xml"/>
		<mapping resource="cn/thylove/bean/TransferRecord.hbm.xml"/>
	</session-factory>

</hibernate-configuration>