@charset "UTF-8";

* {
	margin:0;
	padding: 0;
	font: 12px/1.5 tahoma,arial;
	text-decoration: none;
	list-style:none;
}
html, body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}

/*********登录******************/
.title {
	margin: -120px 0 20px;
	font-size:24px;
}
.content {
	width: 529px;
	height: 404px;
	/* margin-bottom: 260px; */
	background-color: #fff;
	-webkit-box-shadow: 0 0 14px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 14px rgba(0,0,0,.1);
    box-shadow: 0 0 14px rgba(0,0,0,.2);
}
.content form {
	text-align: center;
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #aed5e2;
}
.content input {
	height: 30px;
	width: 250px;
	margin: 15px auto;
	font-size:18px;
	padding: 5px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
	border: 1px solid #333;
}
.content #user-type {
	width: 250px;
	height: 30px;
	font-size: 18px;
	margin-bottom: 15px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 1px solid #333;
	outline: none;
}
option:first-child {
	disabled: disabled;
}
.content .c {
	width: 327px;
	height: 40px
	
}
.c {
	margin: 15px auto 8px;
}
.c span {
	float:left;
	line-height: 40px;
}
.content input.check {
	width: 120px;
	float: left;
	margin: 0
}
.content canvas {
	border-radius: 5px;
	width: 100px;
	height: 40px;
	float: right;
	cursor: pointer;
}
.error {
	color: #f00;	
	font-size: 12px;
	height: 16px;
	width: 200px;
	margin: 0 auto 7px;
	text-align: left;
}
.content input.btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #00bb00;
	padding: 0;
	outline: none;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	margin-top: 0px;
}
.content input.btn:active {
	transform: scale(1.01);
}
#myCanvas {
	background-color: #ccc;
}


/*****************register*****************/
.registerForm {
	padding: 50px;
}
.registerForm table tr td:first-child {
	text-align: right;
}
.registerForm tr td {
	margin: 20px;
	font-size: 20px;
}
.registerForm tr td label {
	font-size: 20px;
	
}
.registerForm tr td.tdInput label {
	font-size: 20px;
	vertical-align: 12px;
}
.registerForm tr td.tdInput input {
	width: 20px;
}
.registerForm tr td select {
	
}
.registerForm tr td input,
.registerForm tr td select {
	margin:5px 10px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border: 1px solid #000;
	padding: 5px 10px;
}
.registerForm tr.btn p {
	text-align: center;
}
.registerForm tr.btn input {
	padding: 0;
	width: 100px;
	height: 45px;
	border-radius: 46px;
	background-color: #fff; 
	outline: none;
	
}
.registerForm tr.btn input:hover {
	background-color: #CCC;
	cursor: pointer;
}

/****************修改密码*********************/
.modifyPwd {
	margin-top: -50px;
	font-size: 20px;
}
.modifyPwd input {
	width: 250px;
	height: 40px;
	margin: 10px 0;
	font-size: 20px;
	padding: 5px 10px;
	border: 2px solid #000;
	outline: none;
}
.modifyPwd p {
	text-align: center;
}
.modifyPwd p input{
	width: 120px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
}
.modifyPwd p input:hover{
	background-color: #99b37a;
}

/************用户搜索*****************/
.searchForm {
	padding: 0px 50px 165px;
}

.searchForm input {
	outline: none;
	border: 2px solid #f40;
	height: 50px;
	float: left;
}
.searchForm .searchKeyWord {
	width: 300px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-right: none;
	padding: 10px 20px;
	line-height: 40px;
	font-size: 18px;
	
}
.searchForm .searchSubmit {
	width: 80px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #87e9ff;
	font-size: 20px;
}
.reUser tr td  {
	font-size: 18px;
	padding: 0 10px;
	
}
.reUser tr th {
	font-size: 18px;
	padding: 5 10px;
	font-weight: bolder;
	
}
.reUser .userimg p{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
	
}
.reUser .userimg p img{
	width: 150%;
}
.reUser tr td.username {
	width: 150px;
}
.reUser tr td.pwd {
	width: 200px;
}
.reUser tr td.sex {
	width: 100px;
}
.reUser tr td.sex a{
	font-size: 18px;
}

 .with {
	font-size: 18px;
	padding: 10px;
	display: inline-block;
}

.actionMessage span{
	display: none;
	width: 0;
	height: 0;
}
